<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
                <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>

</head>
<body >
    <div id="d7697770efc145fdbeb10811257d8d53" class="chart-container" style="width:900px; height:500px; "></div>
    <script>
        var chart_d7697770efc145fdbeb10811257d8d53 = echarts.init(
            document.getElementById('d7697770efc145fdbeb10811257d8d53'), 'white', {renderer: 'canvas'});
        var option_d7697770efc145fdbeb10811257d8d53 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "bar",
            "name": "\u7968\u623f",
            "legendHoverLink": true,
            "data": [
                15331645,
                10218496,
                5229850,
                4696052,
                1572896,
                10050000,
                7083956,
                4675865,
                4144548,
                1160000,
                7500000,
                7160624,
                3246830,
                3016172,
                955000,
                14722175,
                11552825,
                10350000,
                7201242,
                5399625,
                12007417,
                11550000,
                7601650,
                6889915,
                5814872
            ],
            "realtimeSort": false,
            "showBackground": false,
            "stackStrategy": "samesign",
            "cursor": "pointer",
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "margin": 8
            },
            "itemStyle": {
                "color": "red"
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u7968\u623f"
            ],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderWidth": 1,
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "show": true,
                "rotate": 35,
                "margin": 8
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "The Damned",
                "Harbin",
                "The Monster Beneath Us",
                "Vermiglio",
                "Axcn: Paprika \u2013 Satoshi Kon Fest",
                "The Prosecutor",
                "Den of Thieves 2: Pantera",
                "Better Man",
                "Diane Warren: Relentless",
                "Companion",
                "Birdeater",
                "Extremely Unique Dynamic",
                "Peter Pan's Neverland Nightmare",
                "September 5",
                "Sing Sing",
                "Wolf Man",
                "One of Them Days",
                "Both Eyes Open",
                "The Goonies",
                "Marked Men: Rule & Shaw",
                "Presence",
                "Flight Risk",
                "Inheritance",
                "The Colors Within",
                "Boonie Bears: Time Twist"
            ]
        }
    ],
    "yAxis": [
        {
            "name": "\u7968\u623f",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "show": true,
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ]
};
        chart_d7697770efc145fdbeb10811257d8d53.setOption(option_d7697770efc145fdbeb10811257d8d53);
    </script>
</body>
</html>
