<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
                <script type="text/javascript" src="https://assets.pyecharts.org/assets/v5/echarts.min.js"></script>

    
</head>
<body >
    <style>.box {  } </style>
    <div class="box">
                <div id="8b859353041a4671aee048196cdbc48c" class="chart-container" style="width:900px; height:500px; "></div>
    <script>
        var chart_8b859353041a4671aee048196cdbc48c = echarts.init(
            document.getElementById('8b859353041a4671aee048196cdbc48c'), 'white', {renderer: 'canvas'});
        var option_8b859353041a4671aee048196cdbc48c = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "bar",
            "name": "\u7968\u623f",
            "legendHoverLink": true,
            "data": [
                336530303,
                322719944,
                319246193,
                309420425,
                292004738,
                227471070,
                210614939,
                206445654,
                256393010,
                183135014,
                168273550,
                148768917,
                217326974,
                140125968,
                250863268,
                134529403,
                219964115,
                131921738,
                130164645,
                126631277,
                121463226,
                120059556,
                118871849,
                118594548,
                117154724,
                115802596,
                127807262,
                100462298,
                97822171,
                95673607,
                90648202,
                82272442,
                82280579,
                80209692,
                71985628,
                72006777,
                103365956,
                163566459,
                63300095,
                61356221,
                70107728,
                58867694,
                58272029,
                55204525,
                54149098,
                53606916,
                50648679,
                50572589,
                49662533,
                49121934,
                47852604,
                47536778,
                47003582,
                47642963,
                43799818,
                43760605,
                43107979,
                42674040,
                74283625,
                39739367,
                39569000,
                39687694,
                49033882,
                39015018,
                66661095,
                38634938,
                37634615,
                36793804,
                36787257,
                36605602,
                35787686,
                35374833,
                35193167,
                35017297,
                35552383,
                33231264,
                33080084,
                32886940,
                33302167,
                31366978,
                32061555,
                31664162,
                82985708,
                28638916,
                28563179,
                28549298,
                52898073,
                56441711,
                41797066,
                143495265,
                27670986,
                25930652,
                25799486,
                25612520,
                25594957,
                53695808,
                25126214,
                25037897,
                59952835,
                24540079,
                24343673,
                23984949,
                23637265,
                22486409,
                70270943,
                198000317,
                57377916,
                21471047,
                21250683,
                20804166,
                20578909,
                20342161,
                20300218,
                19661987,
                19363565,
                19103072,
                19074800,
                40946255,
                18670946,
                75030163,
                43545364,
                18211013,
                17609452,
                17266000,
                18354356,
                17510118,
                16809076,
                16472961,
                16383509,
                15589393,
                15539051,
                15309602,
                15132763,
                15074191,
                15002854,
                30236407,
                14486897,
                34302837,
                14377198,
                17606684,
                13938332,
                13932383,
                167445960,
                13569248,
                13756082,
                13349927,
                13235267,
                63224849,
                18317151,
                12807139,
                12550605,
                12492481,
                50927067,
                132384315,
                46412757,
                11892415,
                11902715,
                11286112,
                11052958,
                11003643,
                10977721,
                10597734,
                10301706,
                10232081,
                10010209,
                9736045,
                9534258,
                9439923,
                9396870,
                9176787,
                8794452,
                8580428,
                50866635,
                8135024,
                8130530,
                93383953,
                12899867,
                8070537,
                8060487,
                7556712,
                7500310,
                7498716,
                7371706,
                7164995,
                7057600,
                7025810,
                6881022,
                6777741,
                7084227,
                5933494,
                5898393,
                15800078,
                23746066,
                5758950,
                5713425,
                5972884,
                34137524,
                5520368,
                5490423,
                5812781
            ],
            "realtimeSort": false,
            "showBackground": false,
            "stackStrategy": "samesign",
            "cursor": "pointer",
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "margin": 8,
                "valueAnimation": false
            },
            "itemStyle": {
                "color": "red"
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u7968\u623f"
            ],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "show": true,
                "rotate": 35,
                "margin": 8,
                "valueAnimation": false
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "animation": true,
            "animationThreshold": 2000,
            "animationDuration": 1000,
            "animationEasing": "cubicOut",
            "animationDelay": 0,
            "animationDurationUpdate": 300,
            "animationEasingUpdate": "cubicOut",
            "animationDelayUpdate": 0,
            "data": [
                "Spider-Man 3",
                "Shrek the Third",
                "Transformers",
                "Pirates of the Caribbean: At World's End",
                "Harry Potter and the Order of the Phoenix",
                "The Bourne Ultimatum",
                "300",
                "Ratatouille",
                "I Am Legend",
                "The Simpsons Movie",
                "Wild Hogs",
                "Knocked Up",
                "Alvin and the Chipmunks",
                "Rush Hour 3",
                "Night at the Museum",
                "Live Free or Die Hard",
                "National Treasure: Book of Secrets",
                "Fantastic Four: Rise of the Silver Surfer",
                "American Gangster",
                "Bee Movie",
                "Superbad",
                "I Now Pronounce You Chuck & Larry",
                "Hairspray",
                "Blades of Glory",
                "Ocean's Thirteen",
                "Ghost Rider",
                "Enchanted",
                "Evan Almighty",
                "Meet the Robinsons",
                "Norbit",
                "The Game Plan",
                "Bridge to Terabithia",
                "Beowulf",
                "Disturbia",
                "1408",
                "Fred Claus",
                "Dreamgirls",
                "The Pursuit of Happyness",
                "Saw IV",
                "Stomp the Yard",
                "The Golden Compass",
                "Surf's Up",
                "Halloween",
                "Why Did I Get Married?",
                "TMNT",
                "3:10 to Yuma",
                "Resident Evil: Extinction",
                "Music and Lyrics",
                "Are We Done Yet?",
                "This Christmas",
                "Premonition",
                "The Kingdom",
                "Shooter",
                "Dan in Real Life",
                "License to Wed",
                "Underdog",
                "No Reservations",
                "Because I Said So",
                "No Country for Old Men",
                "Epic Movie",
                "30 Days of Night",
                "Hitman",
                "Michael Clayton",
                "Fracture",
                "Charlie Wilson's War",
                "Stardust",
                "Pan's Labyrinth",
                "The Brave One",
                "The Heartbreak Kid",
                "Freedom Writers",
                "Smokin' Aces",
                "The Messengers",
                "The Number 23",
                "Good Luck Chuck",
                "Children of Men",
                "Breach",
                "Zodiac",
                "Balls of Fury",
                "Mr. Bean's Holiday",
                "Daddy's Little Girls",
                "Mr. Magorium's Wonder Emporium",
                "August Rush",
                "Charlotte's Web",
                "28 Weeks Later",
                "We Own the Night",
                "Mr. Brooks",
                "Sweeney Todd: The Demon Barber of Fleet Street",
                "The Queen",
                "Aliens vs. Predator: Requiem",
                "Juno",
                "Hannibal Rising",
                "The Nanny Diaries",
                "Mr. Woodcock",
                "Nancy Drew",
                "The Mist",
                "P.S. I Love You",
                "The Reaping",
                "Grindhouse",
                "The Good Shepherd",
                "Sicko",
                "Across the Universe",
                "Perfect Stranger",
                "Hot Fuzz",
                "War",
                "Rocky Balboa",
                "Happy Feet",
                "Blood Diamond",
                "The Last Mimzy",
                "Amazing Grace",
                "The Hills Have Eyes 2",
                "The Invisible",
                "Reno 911!: Miami",
                "Gone Baby Gone",
                "Reign Over Me",
                "Vacancy",
                "Georgia Rule",
                "Waitress",
                "The Water Horse",
                "Becoming Jane",
                "Eragon",
                "We Are Marshall",
                "Next",
                "Hostel: Part II",
                "Eastern Promises",
                "Into the Wild",
                "Notes on a Scandal",
                "Dead Silence",
                "The Hitcher",
                "Elizabeth: The Golden Age",
                "Happily N'Ever After",
                "Catch and Release",
                "Alpha Dog",
                "Arthur and the Invisibles",
                "The Invasion",
                "Lions for Lambs",
                "The Great Debaters",
                "The Nightmare Before Christmas",
                "Babel",
                "Awake",
                "The Last King of Scotland",
                "Hot Rod",
                "Firehouse Dog",
                "Casino Royale",
                "The Namesake",
                "Letters from Iwo Jima",
                "The Comebacks",
                "Daddy Day Camp",
                "The Holiday",
                "Walk Hard: The Dewey Cox Story",
                "Shoot 'Em Up",
                "I Think I Love My Wife",
                "Evening",
                "Atonement",
                "The Departed",
                "Deep Sea",
                "Sydney White",
                "The Darjeeling Limited",
                "The Lives of Others",
                "In the Land of Women",
                "The Astronaut Farmer",
                "Dragon Wars: D-War",
                "Primeval",
                "La Vie En Rose",
                "Pathfinder",
                "Bratz",
                "Rendition",
                "Death Sentence",
                "Once",
                "Black Snake Moan",
                "A Mighty Heart",
                "The Seeker: The Dark Is Rising",
                "Death at a Funeral",
                "Apocalypto",
                "Code Name: The Cleaner",
                "Delta Farce",
                "Space Station 3D",
                "Volver",
                "Bella",
                "The Painted Veil",
                "El cantante",
                "Martian Child",
                "I Know Who Killed Me",
                "The Condemned",
                "The Hoax",
                "Pride",
                "Bug",
                "Redline",
                "In the Valley of Elah",
                "Before the Devil Knows You're Dead",
                "The Last Legion",
                "Feel the Noise",
                "The Kite Runner",
                "Sea Monsters: A Prehistoric Adventure",
                "Lucky You",
                "Who's Your Caddy?",
                "Lars and the Real Girl",
                "Magnificent Desolation: Walking on the Moon",
                "Aqua Teen Hunger Force Colon Movie Film for Theaters",
                "Rescue Dawn",
                "The Perfect Holiday"
            ]
        }
    ],
    "yAxis": [
        {
            "name": "\u7968\u623f",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "animation": true,
            "animationThreshold": 2000,
            "animationDuration": 1000,
            "animationEasing": "cubicOut",
            "animationDelay": 0,
            "animationDurationUpdate": 300,
            "animationEasingUpdate": "cubicOut",
            "animationDelayUpdate": 0
        }
    ],
    "title": [
        {
            "show": true,
            "text": "2007\u5e74IMDB\u7968\u623f\u6570\u636e\u53ef\u89c6\u5316\u67f1\u5f62\u56fe",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ]
};
        chart_8b859353041a4671aee048196cdbc48c.setOption(option_8b859353041a4671aee048196cdbc48c);
    </script>
<br/>                <div id="d64026a41b7649d4b94bcdcef500598d" class="chart-container" style="width:900px; height:500px; "></div>
    <script>
        var chart_d64026a41b7649d4b94bcdcef500598d = echarts.init(
            document.getElementById('d64026a41b7649d4b94bcdcef500598d'), 'white', {renderer: 'canvas'});
        var option_d64026a41b7649d4b94bcdcef500598d = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "aria": {
        "enabled": false
    },
    "color": [
        "#5470c6",
        "#91cc75",
        "#fac858",
        "#ee6666",
        "#73c0de",
        "#3ba272",
        "#fc8452",
        "#9a60b4",
        "#ea7ccc"
    ],
    "series": [
        {
            "type": "pie",
            "name": "2007\u5e74\u7968\u623f\u6570\u636e\u53ef\u89c6\u5316\u997c\u56fe",
            "colorBy": "data",
            "legendHoverLink": true,
            "selectedMode": false,
            "selectedOffset": 10,
            "clockwise": true,
            "startAngle": 90,
            "minAngle": 0,
            "minShowLabelAngle": 0,
            "avoidLabelOverlap": true,
            "stillShowZeroSum": true,
            "percentPrecision": 2,
            "showEmptyCircle": true,
            "emptyCircleStyle": {
                "color": "lightgray",
                "borderColor": "#000",
                "borderWidth": 0,
                "borderType": "solid",
                "borderDashOffset": 0,
                "borderCap": "butt",
                "borderJoin": "bevel",
                "borderMiterLimit": 10,
                "opacity": 1
            },
            "data": [
                {
                    "name": "Spider-Man 3",
                    "value": 336530303
                },
                {
                    "name": "Shrek the Third",
                    "value": 322719944
                },
                {
                    "name": "Transformers",
                    "value": 319246193
                },
                {
                    "name": "Pirates of the Caribbean: At World's End",
                    "value": 309420425
                },
                {
                    "name": "Harry Potter and the Order of the Phoenix",
                    "value": 292004738
                },
                {
                    "name": "The Bourne Ultimatum",
                    "value": 227471070
                },
                {
                    "name": "300",
                    "value": 210614939
                },
                {
                    "name": "Ratatouille",
                    "value": 206445654
                },
                {
                    "name": "I Am Legend",
                    "value": 256393010
                },
                {
                    "name": "The Simpsons Movie",
                    "value": 183135014
                },
                {
                    "name": "Wild Hogs",
                    "value": 168273550
                },
                {
                    "name": "Knocked Up",
                    "value": 148768917
                },
                {
                    "name": "Alvin and the Chipmunks",
                    "value": 217326974
                },
                {
                    "name": "Rush Hour 3",
                    "value": 140125968
                },
                {
                    "name": "Night at the Museum",
                    "value": 250863268
                },
                {
                    "name": "Live Free or Die Hard",
                    "value": 134529403
                },
                {
                    "name": "National Treasure: Book of Secrets",
                    "value": 219964115
                },
                {
                    "name": "Fantastic Four: Rise of the Silver Surfer",
                    "value": 131921738
                },
                {
                    "name": "American Gangster",
                    "value": 130164645
                },
                {
                    "name": "Bee Movie",
                    "value": 126631277
                },
                {
                    "name": "Superbad",
                    "value": 121463226
                },
                {
                    "name": "I Now Pronounce You Chuck & Larry",
                    "value": 120059556
                },
                {
                    "name": "Hairspray",
                    "value": 118871849
                },
                {
                    "name": "Blades of Glory",
                    "value": 118594548
                },
                {
                    "name": "Ocean's Thirteen",
                    "value": 117154724
                },
                {
                    "name": "Ghost Rider",
                    "value": 115802596
                },
                {
                    "name": "Enchanted",
                    "value": 127807262
                },
                {
                    "name": "Evan Almighty",
                    "value": 100462298
                },
                {
                    "name": "Meet the Robinsons",
                    "value": 97822171
                },
                {
                    "name": "Norbit",
                    "value": 95673607
                },
                {
                    "name": "The Game Plan",
                    "value": 90648202
                },
                {
                    "name": "Bridge to Terabithia",
                    "value": 82272442
                },
                {
                    "name": "Beowulf",
                    "value": 82280579
                },
                {
                    "name": "Disturbia",
                    "value": 80209692
                },
                {
                    "name": "1408",
                    "value": 71985628
                },
                {
                    "name": "Fred Claus",
                    "value": 72006777
                },
                {
                    "name": "Dreamgirls",
                    "value": 103365956
                },
                {
                    "name": "The Pursuit of Happyness",
                    "value": 163566459
                },
                {
                    "name": "Saw IV",
                    "value": 63300095
                },
                {
                    "name": "Stomp the Yard",
                    "value": 61356221
                },
                {
                    "name": "The Golden Compass",
                    "value": 70107728
                },
                {
                    "name": "Surf's Up",
                    "value": 58867694
                },
                {
                    "name": "Halloween",
                    "value": 58272029
                },
                {
                    "name": "Why Did I Get Married?",
                    "value": 55204525
                },
                {
                    "name": "TMNT",
                    "value": 54149098
                },
                {
                    "name": "3:10 to Yuma",
                    "value": 53606916
                },
                {
                    "name": "Resident Evil: Extinction",
                    "value": 50648679
                },
                {
                    "name": "Music and Lyrics",
                    "value": 50572589
                },
                {
                    "name": "Are We Done Yet?",
                    "value": 49662533
                },
                {
                    "name": "This Christmas",
                    "value": 49121934
                },
                {
                    "name": "Premonition",
                    "value": 47852604
                },
                {
                    "name": "The Kingdom",
                    "value": 47536778
                },
                {
                    "name": "Shooter",
                    "value": 47003582
                },
                {
                    "name": "Dan in Real Life",
                    "value": 47642963
                },
                {
                    "name": "License to Wed",
                    "value": 43799818
                },
                {
                    "name": "Underdog",
                    "value": 43760605
                },
                {
                    "name": "No Reservations",
                    "value": 43107979
                },
                {
                    "name": "Because I Said So",
                    "value": 42674040
                },
                {
                    "name": "No Country for Old Men",
                    "value": 74283625
                },
                {
                    "name": "Epic Movie",
                    "value": 39739367
                },
                {
                    "name": "30 Days of Night",
                    "value": 39569000
                },
                {
                    "name": "Hitman",
                    "value": 39687694
                },
                {
                    "name": "Michael Clayton",
                    "value": 49033882
                },
                {
                    "name": "Fracture",
                    "value": 39015018
                },
                {
                    "name": "Charlie Wilson's War",
                    "value": 66661095
                },
                {
                    "name": "Stardust",
                    "value": 38634938
                },
                {
                    "name": "Pan's Labyrinth",
                    "value": 37634615
                },
                {
                    "name": "The Brave One",
                    "value": 36793804
                },
                {
                    "name": "The Heartbreak Kid",
                    "value": 36787257
                },
                {
                    "name": "Freedom Writers",
                    "value": 36605602
                },
                {
                    "name": "Smokin' Aces",
                    "value": 35787686
                },
                {
                    "name": "The Messengers",
                    "value": 35374833
                },
                {
                    "name": "The Number 23",
                    "value": 35193167
                },
                {
                    "name": "Good Luck Chuck",
                    "value": 35017297
                },
                {
                    "name": "Children of Men",
                    "value": 35552383
                },
                {
                    "name": "Breach",
                    "value": 33231264
                },
                {
                    "name": "Zodiac",
                    "value": 33080084
                },
                {
                    "name": "Balls of Fury",
                    "value": 32886940
                },
                {
                    "name": "Mr. Bean's Holiday",
                    "value": 33302167
                },
                {
                    "name": "Daddy's Little Girls",
                    "value": 31366978
                },
                {
                    "name": "Mr. Magorium's Wonder Emporium",
                    "value": 32061555
                },
                {
                    "name": "August Rush",
                    "value": 31664162
                },
                {
                    "name": "Charlotte's Web",
                    "value": 82985708
                },
                {
                    "name": "28 Weeks Later",
                    "value": 28638916
                },
                {
                    "name": "We Own the Night",
                    "value": 28563179
                },
                {
                    "name": "Mr. Brooks",
                    "value": 28549298
                },
                {
                    "name": "Sweeney Todd: The Demon Barber of Fleet Street",
                    "value": 52898073
                },
                {
                    "name": "The Queen",
                    "value": 56441711
                },
                {
                    "name": "Aliens vs. Predator: Requiem",
                    "value": 41797066
                },
                {
                    "name": "Juno",
                    "value": 143495265
                },
                {
                    "name": "Hannibal Rising",
                    "value": 27670986
                },
                {
                    "name": "The Nanny Diaries",
                    "value": 25930652
                },
                {
                    "name": "Mr. Woodcock",
                    "value": 25799486
                },
                {
                    "name": "Nancy Drew",
                    "value": 25612520
                },
                {
                    "name": "The Mist",
                    "value": 25594957
                },
                {
                    "name": "P.S. I Love You",
                    "value": 53695808
                },
                {
                    "name": "The Reaping",
                    "value": 25126214
                },
                {
                    "name": "Grindhouse",
                    "value": 25037897
                },
                {
                    "name": "The Good Shepherd",
                    "value": 59952835
                },
                {
                    "name": "Sicko",
                    "value": 24540079
                },
                {
                    "name": "Across the Universe",
                    "value": 24343673
                },
                {
                    "name": "Perfect Stranger",
                    "value": 23984949
                },
                {
                    "name": "Hot Fuzz",
                    "value": 23637265
                },
                {
                    "name": "War",
                    "value": 22486409
                },
                {
                    "name": "Rocky Balboa",
                    "value": 70270943
                },
                {
                    "name": "Happy Feet",
                    "value": 198000317
                },
                {
                    "name": "Blood Diamond",
                    "value": 57377916
                },
                {
                    "name": "The Last Mimzy",
                    "value": 21471047
                },
                {
                    "name": "Amazing Grace",
                    "value": 21250683
                },
                {
                    "name": "The Hills Have Eyes 2",
                    "value": 20804166
                },
                {
                    "name": "The Invisible",
                    "value": 20578909
                },
                {
                    "name": "Reno 911!: Miami",
                    "value": 20342161
                },
                {
                    "name": "Gone Baby Gone",
                    "value": 20300218
                },
                {
                    "name": "Reign Over Me",
                    "value": 19661987
                },
                {
                    "name": "Vacancy",
                    "value": 19363565
                },
                {
                    "name": "Georgia Rule",
                    "value": 19103072
                },
                {
                    "name": "Waitress",
                    "value": 19074800
                },
                {
                    "name": "The Water Horse",
                    "value": 40946255
                },
                {
                    "name": "Becoming Jane",
                    "value": 18670946
                },
                {
                    "name": "Eragon",
                    "value": 75030163
                },
                {
                    "name": "We Are Marshall",
                    "value": 43545364
                },
                {
                    "name": "Next",
                    "value": 18211013
                },
                {
                    "name": "Hostel: Part II",
                    "value": 17609452
                },
                {
                    "name": "Eastern Promises",
                    "value": 17266000
                },
                {
                    "name": "Into the Wild",
                    "value": 18354356
                },
                {
                    "name": "Notes on a Scandal",
                    "value": 17510118
                },
                {
                    "name": "Dead Silence",
                    "value": 16809076
                },
                {
                    "name": "The Hitcher",
                    "value": 16472961
                },
                {
                    "name": "Elizabeth: The Golden Age",
                    "value": 16383509
                },
                {
                    "name": "Happily N'Ever After",
                    "value": 15589393
                },
                {
                    "name": "Catch and Release",
                    "value": 15539051
                },
                {
                    "name": "Alpha Dog",
                    "value": 15309602
                },
                {
                    "name": "Arthur and the Invisibles",
                    "value": 15132763
                },
                {
                    "name": "The Invasion",
                    "value": 15074191
                },
                {
                    "name": "Lions for Lambs",
                    "value": 15002854
                },
                {
                    "name": "The Great Debaters",
                    "value": 30236407
                },
                {
                    "name": "The Nightmare Before Christmas",
                    "value": 14486897
                },
                {
                    "name": "Babel",
                    "value": 34302837
                },
                {
                    "name": "Awake",
                    "value": 14377198
                },
                {
                    "name": "The Last King of Scotland",
                    "value": 17606684
                },
                {
                    "name": "Hot Rod",
                    "value": 13938332
                },
                {
                    "name": "Firehouse Dog",
                    "value": 13932383
                },
                {
                    "name": "Casino Royale",
                    "value": 167445960
                },
                {
                    "name": "The Namesake",
                    "value": 13569248
                },
                {
                    "name": "Letters from Iwo Jima",
                    "value": 13756082
                },
                {
                    "name": "The Comebacks",
                    "value": 13349927
                },
                {
                    "name": "Daddy Day Camp",
                    "value": 13235267
                },
                {
                    "name": "The Holiday",
                    "value": 63224849
                },
                {
                    "name": "Walk Hard: The Dewey Cox Story",
                    "value": 18317151
                },
                {
                    "name": "Shoot 'Em Up",
                    "value": 12807139
                },
                {
                    "name": "I Think I Love My Wife",
                    "value": 12550605
                },
                {
                    "name": "Evening",
                    "value": 12492481
                },
                {
                    "name": "Atonement",
                    "value": 50927067
                },
                {
                    "name": "The Departed",
                    "value": 132384315
                },
                {
                    "name": "Deep Sea",
                    "value": 46412757
                },
                {
                    "name": "Sydney White",
                    "value": 11892415
                },
                {
                    "name": "The Darjeeling Limited",
                    "value": 11902715
                },
                {
                    "name": "The Lives of Others",
                    "value": 11286112
                },
                {
                    "name": "In the Land of Women",
                    "value": 11052958
                },
                {
                    "name": "The Astronaut Farmer",
                    "value": 11003643
                },
                {
                    "name": "Dragon Wars: D-War",
                    "value": 10977721
                },
                {
                    "name": "Primeval",
                    "value": 10597734
                },
                {
                    "name": "La Vie En Rose",
                    "value": 10301706
                },
                {
                    "name": "Pathfinder",
                    "value": 10232081
                },
                {
                    "name": "Bratz",
                    "value": 10010209
                },
                {
                    "name": "Rendition",
                    "value": 9736045
                },
                {
                    "name": "Death Sentence",
                    "value": 9534258
                },
                {
                    "name": "Once",
                    "value": 9439923
                },
                {
                    "name": "Black Snake Moan",
                    "value": 9396870
                },
                {
                    "name": "A Mighty Heart",
                    "value": 9176787
                },
                {
                    "name": "The Seeker: The Dark Is Rising",
                    "value": 8794452
                },
                {
                    "name": "Death at a Funeral",
                    "value": 8580428
                },
                {
                    "name": "Apocalypto",
                    "value": 50866635
                },
                {
                    "name": "Code Name: The Cleaner",
                    "value": 8135024
                },
                {
                    "name": "Delta Farce",
                    "value": 8130530
                },
                {
                    "name": "Space Station 3D",
                    "value": 93383953
                },
                {
                    "name": "Volver",
                    "value": 12899867
                },
                {
                    "name": "Bella",
                    "value": 8070537
                },
                {
                    "name": "The Painted Veil",
                    "value": 8060487
                },
                {
                    "name": "El cantante",
                    "value": 7556712
                },
                {
                    "name": "Martian Child",
                    "value": 7500310
                },
                {
                    "name": "I Know Who Killed Me",
                    "value": 7498716
                },
                {
                    "name": "The Condemned",
                    "value": 7371706
                },
                {
                    "name": "The Hoax",
                    "value": 7164995
                },
                {
                    "name": "Pride",
                    "value": 7057600
                },
                {
                    "name": "Bug",
                    "value": 7025810
                },
                {
                    "name": "Redline",
                    "value": 6881022
                },
                {
                    "name": "In the Valley of Elah",
                    "value": 6777741
                },
                {
                    "name": "Before the Devil Knows You're Dead",
                    "value": 7084227
                },
                {
                    "name": "The Last Legion",
                    "value": 5933494
                },
                {
                    "name": "Feel the Noise",
                    "value": 5898393
                },
                {
                    "name": "The Kite Runner",
                    "value": 15800078
                },
                {
                    "name": "Sea Monsters: A Prehistoric Adventure",
                    "value": 23746066
                },
                {
                    "name": "Lucky You",
                    "value": 5758950
                },
                {
                    "name": "Who's Your Caddy?",
                    "value": 5713425
                },
                {
                    "name": "Lars and the Real Girl",
                    "value": 5972884
                },
                {
                    "name": "Magnificent Desolation: Walking on the Moon",
                    "value": 34137524
                },
                {
                    "name": "Aqua Teen Hunger Force Colon Movie Film for Theaters",
                    "value": 5520368
                },
                {
                    "name": "Rescue Dawn",
                    "value": 5490423
                },
                {
                    "name": "The Perfect Holiday",
                    "value": 5812781
                }
            ],
            "radius": [
                0,
                100
            ],
            "center": [
                "50%",
                "50%"
            ],
            "label": {
                "show": true,
                "margin": 8,
                "formatter": "{b}: {c}",
                "valueAnimation": false
            },
            "labelLine": {
                "show": true,
                "showAbove": false,
                "length": 15,
                "length2": 15,
                "smooth": false,
                "minTurnAngle": 90,
                "maxSurfaceAngle": 90
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "Spider-Man 3",
                "Shrek the Third",
                "Transformers",
                "Pirates of the Caribbean: At World's End",
                "Harry Potter and the Order of the Phoenix",
                "The Bourne Ultimatum",
                "300",
                "Ratatouille",
                "I Am Legend",
                "The Simpsons Movie",
                "Wild Hogs",
                "Knocked Up",
                "Alvin and the Chipmunks",
                "Rush Hour 3",
                "Night at the Museum",
                "Live Free or Die Hard",
                "National Treasure: Book of Secrets",
                "Fantastic Four: Rise of the Silver Surfer",
                "American Gangster",
                "Bee Movie",
                "Superbad",
                "I Now Pronounce You Chuck & Larry",
                "Hairspray",
                "Blades of Glory",
                "Ocean's Thirteen",
                "Ghost Rider",
                "Enchanted",
                "Evan Almighty",
                "Meet the Robinsons",
                "Norbit",
                "The Game Plan",
                "Bridge to Terabithia",
                "Beowulf",
                "Disturbia",
                "1408",
                "Fred Claus",
                "Dreamgirls",
                "The Pursuit of Happyness",
                "Saw IV",
                "Stomp the Yard",
                "The Golden Compass",
                "Surf's Up",
                "Halloween",
                "Why Did I Get Married?",
                "TMNT",
                "3:10 to Yuma",
                "Resident Evil: Extinction",
                "Music and Lyrics",
                "Are We Done Yet?",
                "This Christmas",
                "Premonition",
                "The Kingdom",
                "Shooter",
                "Dan in Real Life",
                "License to Wed",
                "Underdog",
                "No Reservations",
                "Because I Said So",
                "No Country for Old Men",
                "Epic Movie",
                "30 Days of Night",
                "Hitman",
                "Michael Clayton",
                "Fracture",
                "Charlie Wilson's War",
                "Stardust",
                "Pan's Labyrinth",
                "The Brave One",
                "The Heartbreak Kid",
                "Freedom Writers",
                "Smokin' Aces",
                "The Messengers",
                "The Number 23",
                "Good Luck Chuck",
                "Children of Men",
                "Breach",
                "Zodiac",
                "Balls of Fury",
                "Mr. Bean's Holiday",
                "Daddy's Little Girls",
                "Mr. Magorium's Wonder Emporium",
                "August Rush",
                "Charlotte's Web",
                "28 Weeks Later",
                "We Own the Night",
                "Mr. Brooks",
                "Sweeney Todd: The Demon Barber of Fleet Street",
                "The Queen",
                "Aliens vs. Predator: Requiem",
                "Juno",
                "Hannibal Rising",
                "The Nanny Diaries",
                "Mr. Woodcock",
                "Nancy Drew",
                "The Mist",
                "P.S. I Love You",
                "The Reaping",
                "Grindhouse",
                "The Good Shepherd",
                "Sicko",
                "Across the Universe",
                "Perfect Stranger",
                "Hot Fuzz",
                "War",
                "Rocky Balboa",
                "Happy Feet",
                "Blood Diamond",
                "The Last Mimzy",
                "Amazing Grace",
                "The Hills Have Eyes 2",
                "The Invisible",
                "Reno 911!: Miami",
                "Gone Baby Gone",
                "Reign Over Me",
                "Vacancy",
                "Georgia Rule",
                "Waitress",
                "The Water Horse",
                "Becoming Jane",
                "Eragon",
                "We Are Marshall",
                "Next",
                "Hostel: Part II",
                "Eastern Promises",
                "Into the Wild",
                "Notes on a Scandal",
                "Dead Silence",
                "The Hitcher",
                "Elizabeth: The Golden Age",
                "Happily N'Ever After",
                "Catch and Release",
                "Alpha Dog",
                "Arthur and the Invisibles",
                "The Invasion",
                "Lions for Lambs",
                "The Great Debaters",
                "The Nightmare Before Christmas",
                "Babel",
                "Awake",
                "The Last King of Scotland",
                "Hot Rod",
                "Firehouse Dog",
                "Casino Royale",
                "The Namesake",
                "Letters from Iwo Jima",
                "The Comebacks",
                "Daddy Day Camp",
                "The Holiday",
                "Walk Hard: The Dewey Cox Story",
                "Shoot 'Em Up",
                "I Think I Love My Wife",
                "Evening",
                "Atonement",
                "The Departed",
                "Deep Sea",
                "Sydney White",
                "The Darjeeling Limited",
                "The Lives of Others",
                "In the Land of Women",
                "The Astronaut Farmer",
                "Dragon Wars: D-War",
                "Primeval",
                "La Vie En Rose",
                "Pathfinder",
                "Bratz",
                "Rendition",
                "Death Sentence",
                "Once",
                "Black Snake Moan",
                "A Mighty Heart",
                "The Seeker: The Dark Is Rising",
                "Death at a Funeral",
                "Apocalypto",
                "Code Name: The Cleaner",
                "Delta Farce",
                "Space Station 3D",
                "Volver",
                "Bella",
                "The Painted Veil",
                "El cantante",
                "Martian Child",
                "I Know Who Killed Me",
                "The Condemned",
                "The Hoax",
                "Pride",
                "Bug",
                "Redline",
                "In the Valley of Elah",
                "Before the Devil Knows You're Dead",
                "The Last Legion",
                "Feel the Noise",
                "The Kite Runner",
                "Sea Monsters: A Prehistoric Adventure",
                "Lucky You",
                "Who's Your Caddy?",
                "Lars and the Real Girl",
                "Magnificent Desolation: Walking on the Moon",
                "Aqua Teen Hunger Force Colon Movie Film for Theaters",
                "Rescue Dawn",
                "The Perfect Holiday"
            ],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14,
            "backgroundColor": "transparent",
            "borderColor": "#ccc",
            "borderRadius": 0,
            "pageButtonItemGap": 5,
            "pageButtonPosition": "end",
            "pageFormatter": "{current}/{total}",
            "pageIconColor": "#2f4554",
            "pageIconInactiveColor": "#aaa",
            "pageIconSize": 15,
            "animationDurationUpdate": 800,
            "selector": false,
            "selectorPosition": "auto",
            "selectorItemGap": 7,
            "selectorButtonGap": 10
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "enterable": false,
        "confine": false,
        "appendToBody": false,
        "transitionDuration": 0.4,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5,
        "order": "seriesAsc"
    },
    "title": [
        {
            "show": true,
            "text": "2007\u5e74\u7968\u623f\u6570\u636e\u53ef\u89c6\u5316\u997c\u56fe",
            "target": "blank",
            "subtarget": "blank",
            "padding": 5,
            "itemGap": 10,
            "textAlign": "auto",
            "textVerticalAlign": "auto",
            "triggerEvent": false
        }
    ]
};
        chart_d64026a41b7649d4b94bcdcef500598d.setOption(option_d64026a41b7649d4b94bcdcef500598d);
    </script>
<br/>    </div>
    <script>
    </script>
</body>
</html>
