<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        div{
            flex-wrap: wrap;


            background-color: crimson;
            width: 220px;
            height: 1000px;
        }
        a{
            font-size: 20px;
            display: flex;
            padding: 50px;
            color: white;
            text-decoration: none;

        }

    </style>
</head>
<body>
    <div>
        <a href="票房.html" >首页</a><br>
        <a href="show_data.html">数据显示未清洗</a><br>
        <a href="data_cleaning.html" >数据显示</a><br>
        <a href="电影票房数据分析.html" >数据分析</a><br>
        <a href="data_model.html">数据模型</a><br>
        <a href="电影票房数据可视化.html" >数据可视化</a><br>
    </div>

</body>
</html>